.orderBook {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-bottom: 30px;
  border-radius: 15px;
}
.orderBook h3 {
  margin: 0px;
  padding: 10px;
  background-color: var(--primary-dark);
  font-size: medium;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.layouts {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0px;
  margin-right: 10px;
}
.layouts img {
  height: 20px;
  width: 20px;
  opacity: 0.5;
  cursor: pointer;
  background-color: var(--primary-dark);
}
.layouts > .selectedList > img {
  opacity: 1;
}
.lists {
  height: 252.5px;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
}
.lists > div {
  scrollbar-width: 0px;
}
.lists > div::-webkit-scrollbar {
  width: 0px;
}
.lists li,
.orderBookHeader {
  display: flex;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  font-size: small;
}
.lists li > span,
.orderBookHeader > span {
  padding: 10px 20px;
  width: 75px;
  text-align: center;
}
.listsFull {
  height: 505px;
}
.listsLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bidItem,
.askItem {
  color: #51db58;
  font-weight: bold;
}
.askItem {
  color: #db5151;
}
.orderBookHeader {
  color: #555;
}
.orderBookAggregate {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: var(--primary-dark);
  align-items: center;
  color: var(--text-color);
}
.orderBookAggregate button {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0px;
  box-shadow: 0px 3px 6px #00000029;
  margin-inline: 2px;
}
@media screen and (max-width: 600px) {
  .orderBook {
    max-width: calc(100vw - 20px);
    width: 100vw;
    margin: 0px 10px;
    border-radius: 10px;
  }
  .lists li > span,
  .orderBookHeader > span {
    font-size: 12px;
    padding: 10px;
    width: 30%;
  }
}
