:root {
  --primary-color: #131722;
  --primary-dark: #0d0f16;
  --text-color: #ffffff;
  --secondary-color: #2a2e39;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topWrap {
  display: flex;
  margin-bottom: 20px;
  margin-inline: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0px 20px;
  justify-content: space-between;
}
.topWrap > div {
  display: flex;
  align-items: center;
}
.topWrap > h1 {
  margin: 0px;
  margin-block: auto;
}
.wrapper,
.ChartWrap {
  display: flex;
  max-width: 98vw;
  margin-inline: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.bidAskChart {
  background-color: var(--primary-color);
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.ChartWrap {
  min-height: 500px;
  margin-block: 20px;
}
#tradingViewScript {
  min-height: 490px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.leftChild {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.charts {
  max-width: 97%;
  display: flex;
  border-radius: 15px;
  border: 5px solid var(--primary-color);
  background-color: var(--primary-color);
}
.charts > div {
  max-width: 50%;
}
.chart-palceHolder {
  width: 95%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#coin-select {
  padding: 10px;
}
#demo-select-small {
  padding: 5px;
  font-size: 12px;
}
#select-wrap label,
#select-wrap svg,
#coin-select,
#select-wrap fieldset,
#demo-select-small {
  border-color: var(--text-color) !important;
  color: var(--text-color) !important;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    max-width: 100vw;
    padding-bottom: 20px;
  }
  .topWrap {
    flex-wrap: wrap;
    margin: 0px;
    border-radius: 0px;
    max-width: 100vw;
  }
  .leftChild {
    gap: 0px;
    margin-bottom: 10px;
  }
  .charts {
    flex-direction: column;
    margin: 0px 10px;
    max-width: calc(100vw - 20px);
    width: 100vw;
    border: 0px;
    background-color: transparent;
    gap: 10px;
  }
  .charts > div {
    max-width: calc(100vw - 20px);
    height: 500px !important;
    min-height: 300px !important;
  }
  .bidAskChart {
    width: 100% !important;
    padding: 10px 0px;
    margin: 0px;
    border-radius: 15px;
  }
  #tradingViewScript {
    min-height: 300px !important;
    border-radius: 15px;
  }
  .topWrap > div {
    justify-content: space-between;
    width: 100%;
  }
}
